BD_HOST=aws-0-us-east-1.pooler.supabase.com
BD_USER=postgres.cislrqykwsxlixurzxbk
BD_PASS=IzTyZuK59BsF7Jju
BD_BD=postgres
BD_PORT=5432

SUPABASE_URL=psql -h aws-0-us-east-1.pooler.supabase.com -p 5432 -d postgres -U postgres.cislrqykwsxlixurzxbk
SUPABASE_KEY=sb_publishable_rNmp7ktMmXFY62odaEqAxg_sPKpXWJg

JWT_SECRET=clave_secreta_para_jwt
JWT_EXPIRES_IN=12h
COOKIE_SECRET=clave_secreta_para_cookies